<!--<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Calendar</title>
	<script type="text/javascript" src="{% static 'cal/Extensible-config.js' %}"></script>
	<script type="text/javascript" src="{% static 'cal/app.js' %}"></script>
</head>
<body>
 <form id="myForm" action="login.php">
	<label>Username: <input type="text" name="usr" /></label>
	<label>Password: <input type="password" name="pwd" /></label>
</form>
 <script type="text/javascript"></script>
<div id="calbox" style="width:600px; height:400px;"></div>
<span id="app-msg" class="x-hidden"></span>
 
</body>
</html>-->
<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Calendar</title>
	<script type="text/javascript" src="{% static 'cal/Extensible-config.js' %}"></script>
	<script type="text/javascript" src="{% static 'cal/app.js' %}"></script>
        <script type="text/javascript" src="{% static 'cal/jquery-2.0.3.js' %}"></script>
</head>
<body>
    <form method="post">
    <input type="text" id="username" placeholder="Username" />
    <input type="password" id="password" placeholder="Password" />
    <button id="login_btn">Log In</button>
    </form>
    
    <script type="text/javascript">
    function loginAjax(event){
    var username = encodeURIComponent(document.getElementById("username").value); // Get the username from the form
    var password = encodeURIComponent(document.getElementById("password").value); // Get the password from the form
    
    
    dataString = {
        "username" : username,
        "password" : password,
    }
    
    $.ajax({
        type: "POST",
        url: "user/trylogin",
	async: false,
        dataType:"json",
        data: dataString,
        success: function(){alert("Welcome " + username + ", you've been logged in!");},
	error: function(){ alert("You were not logged in.  " + username );}
    });
    
    //function myFunction(){
    //    alert("Welcome " + username + ", you've been logged in!");
    //}
    //function secondFunction() {
    //     alert("You were not logged in.  " + username);
    //}
}
     
  document.getElementById("login_btn").addEventListener("click", loginAjax, false); // Bind the AJAX call to button click  
    </script>
        
        <!--load the calendar-->
<div id="calbox" style="width:600px; height:400px;"></div>
<span id="app-msg" class="x-hidden"></span>
 
</body>
</html>